<html>
  <head></head>
  <body>
  	
      <h1> Hangman! <h1>
      
    <p> choose a letter <p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' method= 'post'/>
    </form>
  
  </body>
</html>