<html>
  <head></head>
  <body>
  	
      <h1> Hangman! <h1>
      
    <p> choose a letter <p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
    </form>
    <%= disp %> <br><br>
    <%= letters %>
    <h3> Incorrect guesses :<h3> <%= incorrect %><br>
      <h4> tries left: <%= count %></h4>
  </body>
</html>