<html>
  <head></head>
  <body>
  	
      <h1> Hangman! <h1>
      <p> choose a number <p>
      <form action= "/" method= "POST">
        <input  type='text' name='number' />
        <input type='submit' value='Guess!' method = 'post'/>
    </form>
    
  </body>
</html>