<html>
  <head></head>
  <body>
  	
      <h1> You Lose!!! <h1> <br>
        <%= letters%> <br>
      <form action= '/' method= 'GET'>
        <input type = 'submit' value='try again' />
      </form>
  </body>
</html>